* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/assets/MV5BOTgxMjczZDktNWE4Zi00YjE2LWJjNGQtZjJlZDEyMjg1ODhmXkEyXkFqcGdeQXVyNzgxMzc3OTc@._V1_.jpg");
  background-size: 100%;
}

.container-canvas {
  width: 1400px;
  /* border: red 5px solid; */
  display: flex;
  padding: 80px;
  justify-content: center;
}

.container {
  position: relative;
  display: inline-block;
}

.containertwo {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 30px;
}

/* PLAYERONE HEALTH BAR */

.playerOneHealth {
  background-color: yellow;
  border: red solid 5px;
  height: 30px;
  width: 100%;
}

.barHealthOne {
  position: absolute;
  background: blue;
  border: red solid 5px;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

.relative2 {
  position: relative;
  height: 30px;
  width: 100%;
}

/* PLAYERTWO HEALTH BAR */

.playerTwoHealth {
  background-color: yellow;
  border: red solid 5px;
  height: 30px;
  width: 100%;
}

.barHealthTwo {
  position: absolute;
  background: blue;
  border: red solid 5px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.relative {
  position: relative;
  height: 30px;
  width: 100%;
}
/* TIMER */

.timer {
  background-color: red;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

/* MODAL */

#exemple {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
}
#exemple div {
  width: 350px;
  height: 80px;
  margin: 100px auto;
  background-color: #f2f2f2;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  border: 3px solid #cccccc;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
