@font-face {
  font-family: "ONE-PIECE";
  src: url("./webfonts_ONE-PIECE/ONE-PIECE.ttf.woff") format("woff"),
    url("/webfonts_ONE-PIECE/ONE-PIECE.ttf.svg#ONE-PIECE") format("svg"),
    url("./webfonts_ONE-PIECE/ONE-PIECE.ttf.eot"),
    url("/webfonts_ONE-PIECE/ONE-PIECE.ttf.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/assets/BackgroundRain.webp");
  background-size: 100%;
}

/* CANVAS */

.container-canvas {
  width: 1440px;
  display: flex;
  padding: 80px;
  justify-content: center;
}

.container {
  position: relative;
  display: inline-block;
}

.containertwo {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 30px;
}

#canvas {
  box-shadow: -1px 1px 12px 5px black;
}

/* PLAYERONE HEALTH BAR */

.playerOneHealth {
  background-color: white;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 16% 100%, 0 0);
  height: 30px;
  width: 100%;
}

.barHealthOne {
  position: absolute;
  background: black;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 16% 100%, 0 0);
}

.relative2 {
  position: relative;
  height: 30px;
  width: 100%;
}

/* PLAYERTWO HEALTH BAR */

.playerTwoHealth {
  background-color: white;
  opacity: 0.6;
  clip-path: polygon(25% 0%, 100% 0%, 82% 100%, 0 100%, 0 0);

  height: 30px;
  width: 100%;
}

.barHealthTwo {
  position: absolute;
  clip-path: polygon(25% 0%, 100% 0%, 82% 100%, 0 100%, 0 0);
  background: black;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.relative {
  position: relative;
  height: 30px;
  width: 100%;
}

/* TIMER */

.timer {
  background-color: black;
  color: white;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "ONE-PIECE";
  font-size: 80px;
  border-radius: 50px;
}

/* MODAL WINNER */

.modal {
  color: white;
  font-size: 70px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background-color: black;
  background-image: url("/assets/pngegg.png");
  background-position: center;
  background-size: 1200px;
  width: 1440px;
  height: 790px;
  font-family: "ONE-PIECE";
}

.modal img {
  height: 400px;
  padding: 20px;
}

.modal a {
  font-size: 60px;
  text-decoration: none;
  color: white;
  background-color: red;
  width: 300px;
  text-align: center;
  border-radius: 20px;
  font-family: "ONE-PIECE";
  margin-top: 50px;
  transition: transform 1s;
}

.modal a:hover {
  cursor: pointer;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.modal2 {
  color: white;
  font-size: 70px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background-color: black;
  background-image: url("/assets/pngegg.png");
  background-position: center;
  background-size: 1200px;
  width: 1440px;
  height: 790px;
  font-family: "ONE-PIECE";
}

.modal2 img {
  height: 400px;
  padding: 20px;
}

.modal2 a {
  font-size: 60px;
  text-decoration: none;
  color: white;
  background-color: red;
  width: 300px;
  text-align: center;
  border-radius: 20px;
  font-family: "ONE-PIECE";
  margin-top: 50px;
  transition: transform 1s;
}

.modal2 a:hover {
  cursor: pointer;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
